@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* CONFIGURAÇÃO PARA TABLET */
    body {
        background-image: linear-gradient(to top, #49a89d, #5f2c82);
    }
    
    section#login {
        width: 80vw;
        height: 289px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

     div#formulario {
        float: right;
        width: 70%;
    }
        
    div#formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px){ /* CONFIGURAÇÕES DE DESKTOP */
    body {
        background-image: linear-gradient(to top, #49a89d, #5f2c82);
    }
    
    #login{
        width: 950px;
        height: 350px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
    }
    
    #formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}
